//Colors
$black: #111;
$charcoal: #222;
$white: #fff;

//Fonts
$font-primary:'Cinzel', serif;
$font-secondary:'IM Fell English', serif;

//Style
$transition: all .35s ease;
$opacity: .5;
$border-radius: 5px;

//Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;